
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="toolbar-brand">
    <button mat-icon-button routerLink="/dashboard">
      <mat-icon class="toolbar-brand-icon">dehaze</mat-icon>
    </button>
    <span class="toolbar-brand-name">BoreyAdmin</span>
  </div>

  <div>
    <button mat-icon-button [matMenuTriggerFor]="email" aria-label="icon-button with a menu">
      <mat-icon matBadge="15" matBadgeColor="warn">email</mat-icon>
    </button>
    <mat-menu #email="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="accountCircle" aria-label="icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountCircle="matMenu">
      <button mat-menu-item routerLink="/dashboard/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
